.container{
    width: 630px;
    margin: auto;
    margin-top: 50px;
    background: white;
    color: #262625;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 50px;
}
.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container hr{
    height: 2px;
    border: none;
    background: #272727;
}
.container h2{
    font-size: 27px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container ul li{
    display: flex;
    align-items: center;
    height: 72px;
    padding-left: 15px;
    border: 1px solid #686868 ;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    font-size: 20px;
}
.container button{
    margin: auto;
    width: 200px;
    height: 50px;
    background: #553f9a;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .correct{
    background: #dffff2;
    border-color: #00D397;
}
.container .wrong{
    background: #FFEBEB ;
    border-color: #FF4A4A;
}